.header p{
    position: absolute;
    max-width: 100%;
    font-size: 350px;
    opacity: 40%;
    top:5%;
}
/* textos BARCELONE */
.container1 {
    width: 400px;
    padding: 10px;
    
}

.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 75px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.message-content {
    padding: 0;
    margin: 0;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

/* itineraire BARCELONE*/
.barcelone{
    background-color: #e9d0a8;
}
.trajet, .trajet2{
    display: flex;
}
.trajet img, .trajet2 img{
    display: flex;
    transform: rotate(160deg);
    
}
.itineraire{
    width: 100%;
    display: flex;
    padding: 4px;
    justify-content: space-around;
}
.itineraire img{
    height:60vh;

}
/* bannières barca et gandia */
.bannierebarca, .bannieregandia{
    position: relative;
    width: 100%;
}
.bannieregandia img{
    width: 100%;
}
.bannierebarca p{
    position: absolute;
    font-size: 38vh;
    top:10vh;
    filter: opacity(40%);
}
.bannieregandia p{
    position: absolute;
    font-size: 31vh;
    top:10vh;
    filter: opacity(40%);
}
.bannierebarca img, .bannieregandia{
    width:100%;
}
.fleche{
  rotate: 200deg;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    
}
/* article barcelone */
/* arrivee + hotel */
.arriveebarca{
    width: 100%;
    display: flex;
    text-align: center;
    padding: 4px;
}
.imghotel{
    width: 45%;
}
.hotelbarca {
    display: flex;
    width:100%;
    align-items: center;
}
.hotelbarca iframe{
    max-width: 100%;
    height: auto;
}
/* visites */
/* parc guel */
.visites, .soiree{
   display: flex;
   padding: 2%;
}
h1{
    text-align: center;
}
.monuments, .fete{
    max-width: 50%;
    margin: 2%;
}
.monuments img, .fete img{
    max-width: 100%;
}

/* textos GANDIA */
.container2 {
    width: 400px;
    padding: 10px;
}
.message-blue2 {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 105px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.message-orange2 {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    height: 60px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.message-content2 {
    padding: 0;
    margin: 0;
}

.message-timestamp-right2 {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left2 {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.message-blue2:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue2:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange2:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange2:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}
/* arrivee GANDIA */
.arriveegandia{
    width: 100%;
    display: flex;
    text-align: center;
    padding: 4px;
}
.imghotel{
    width: 45%;
}
.hotelgandia {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
}
.hotelgandia iframe{
    max-height: 100%;
    width: auto;
}
.bronzette{
    display: flex;


}
.plage{
    display: flex;
    width: 100%;
    padding: 2%;
}
.bronzette {
    max-width: 100%;
}
.soiree2{
    width: 100%;
    display: flex;
    padding: 2%;
}
.fete2{
    max-width: 80%;
    margin: 2%;
}
.gandia2{
    padding: 2%;
}


