@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Raleway:ital,wght@0,300;0,700;1,600&display=swap');
:root{
    --nunito:"Nunito";
}
body{
    font-family: var(--nunito);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  .mainirlande{
    background-color: #86d0f7;
    width: 100%;
  }
 .mainirlande h1{
    font-size: 100px;
    text-align: center;
  }
  .map img{
width: 450px;
  }
  .map {
    position: relative;
    display: flex;
    justify-content: center;
  }
  /* positionnement points sur la carte */
  .guinness{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    left: 825px;
    top: 800px;
  }
  .cliff{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    left: 575px;
    top: 850px;
  }
  .geant{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    left: 800px;
    top: 560px;
  }
  .bar{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    left: 835px;
    top: 815px;
  }
  .college{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    left: 825px;
    top: 810px;
  }
  /* card qui apparaissent en hover */
  .box-inner {
    display: none;
  }

  .guinness:hover .box-inner{
    display: block;
    border: solide 2px black;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffefbc;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
    border-radius: 10px;
  }

  .bar:hover .box-inner{
    display: block;
    border: solide 2px black;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #ffefbc;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
  }
  .cliff:hover .box-inner{
    display: block;
    border: solide 2px black;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffefbc;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
    border-radius: 10px;
  }
  .geant:hover .box-inner{
    display: block;
    border: solide 2px black;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #ffefbc;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
  }
  .college:hover .box-inner{
    display: block;
    border: solide 2px black;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffefbc;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
    border-radius: 10px;
  }
 .texte{
  font-size: 10px;
 }
 .box{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
  margin: 20px;
  border-radius: 10px;
 }