@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Raleway:ital,wght@0,300;0,700;1,600&display=swap');
:root{
    --nunito:"Nunito";
}
body{
    font-family: var(--nunito);
}

.container {
  width: 1140px;
  margin: auto;
  padding: 10px;
}
.flex-r {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* header */
header {
  position: relative;
  background-image: url("../img/bannière4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

header .container {
  align-items: flex-start;
  justify-content: space-between;
  height: 80px;
}


/* ------ Start Style Menu ----- */
.navbar {
  height: 100%;
}
.navbar ul {
  gap: 150px;
  height: 100%;
}

.subnav {
  overflow: hidden;
  float: left;
}

.subnav .subnava {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}

.subnav-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.subnav-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.subnava2 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: -16px -16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.sousmenu {
  display: none;
  position: absolute;
  margin-left: 1px;
  top: 1%;
  left: 100%;
  min-width: fit-content;
  z-index: 1;
}

.sousmenu a {
  float: left;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subnav:hover .subnav-content {
    display: block;

}

.subnav .subnav-content-subnav:hover .sousmenu {
  display: block;
}
.subnava2:hover, .sousmenu a:hover{
  background-color: white;
  color:  #bf9858;
}
/* ------ End Style Menu ----- */

/* ----- Start Style bar de recherche ----- */
header .container .recherche {
  width: auto;
  height: 100%;
}

.rch-forme {
  height: 30px;
  color: white;
  margin: 1px;
}

header .container .recherche input[type="text"] {
  width: 150px;
  height: 100%;
  padding: 10px;
  outline: none;
  border: 4px solid white;
}


/* ----- End Style bar de recherche ----- */


.logo {
  filter: invert(100%);
  width: 5vw;
  height: auto;
}

.logo:hover {
  filter: invert(0%);
}
/* MAIN INDEX */
.citation{
  text-align: center;
  margin: 25vh;
  font-style: italic;
}
/* construction du menu déroulant */

/* Footer */
.footer {

  padding: 12px;
  color: white;
  display: flex;
  justify-content: space-between;

}
footer{
background-color: #bf9858;
  width: 100%;
}

.reseaux {
  width: 6%;
  display: flex;
  justify-content: space-around;
}
.nosexperiences{
  display: flex;
  width: 25%;
  justify-content: space-around;
}
/* INDEX */
/* carte avec epingle+hover */
.carte img {
  width: 100%;
}

.carte {
  position: relative;
}
.dot {
  height: 13px;
  width: 13px;
  background-color: #77e2a7;
  border-radius: 50%;
  display: inline-block;
}
.algerie {
  position: absolute;
  top: 46%;
  left: 50%;
}

.allemagne {
  position: absolute;
  top:33%;
  left: 52%;
}

.croatie {
  position: absolute;
  top: 38%;
  left: 53%;
}

.espagne {
  position: absolute;
  top: 40%;
  left: 49%;
}

.cameroun {
  position: absolute;
  top: 59%;
  left: 52%;
}

.france {
  position: absolute;
  top: 36%;
  left: 50.5%;
}

.dubai {
  position: absolute;
  top: 48.5%;
  left: 61.5%;
}

.irlande {
  position: absolute;
  top: 31.5%;
  left: 47.5%;
}
.italie{
  position: absolute;
  top: 40%;
  left: 53%;
}